gparted
mountmanager
vlc
firefox
git
vim
cssh
ssh
tasksel
okular
pdfsam
virtualbox
gcc-multilib
g++-multilib
python-pip
monodevelop
nautilus-open-terminal
nautilus-scripts-manager
eclipse
oracle-jdk7-installer
chromium-browser
oracle-jdk7-installer
cuttlefish
indicator-netspeed
screen
netbeans
elipse
